<template>
  <div class="container">
    <v-stage
      @click="handleClick"
      :config="{
        width: stage.width,
        height: stage.height,
      }"
    >
      <v-layer>
        <template v-if="clicksCount === 3">
          <v-line
            :config="{
              points: depthFacesPoints.vertical,
              closed: true,
              fill: 'rgb(0,0,256)',
            }"
          />
          <v-line
            :config="{
              points: depthFacesPoints.horizontal,
              closed: true,
              fill: 'rgb(0,256,0)',
            }"
          />
        </template>
        <v-rect
          v-if="clicksCount >= 2"
          :config="{
            x: frontFaceLeft,
            y: frontFaceTop,
            width: frontFaceWidth,
            height: frontFaceHeight,
            fill: 'rgb(256,0,0)',
          }"
        />
      </v-layer>
    </v-stage>
  </div>
</template>

<script>
export default {
  name: "CubeDrawer",
  data: () => ({
    clickCoords: [],
    stage: {
      width: window.innerWidth,
      height: window.innerHeight,
    },
  }),
  computed: {
    clicksCount() {
      return this.clickCoords.length;
    },
    frontFaceWidth() {
      return this.frontFaceRight - this.frontFaceLeft;
    },
    frontFaceHeight() {
      return this.frontFaceBottom - this.frontFaceTop;
    },
    frontFaceLeft() {
      return Math.min(this.clickCoords[0].x, this.clickCoords[1].x);
    },
    frontFaceRight() {
      return Math.max(this.clickCoords[0].x, this.clickCoords[1].x);
    },
    frontFaceTop() {
      return Math.min(this.clickCoords[0].y, this.clickCoords[1].y);
    },
    frontFaceBottom() {
      return Math.max(this.clickCoords[0].y, this.clickCoords[1].y);
    },
    frontFaceCenterX() {
      return (
        (this.frontFaceRight - this.frontFaceLeft) / 2 + this.frontFaceLeft
      );
    },
    frontFaceCenterY() {
      return (this.frontFaceBottom - this.frontFaceTop) / 2 + this.frontFaceTop;
    },
    depthFacesPoints() {
      const thirdPointX = this.clickCoords[2].x;
      if (thirdPointX < this.frontFaceLeft) {
        return this.computeLeftOutDepthFacesPoints();
      }
      if (
        this.frontFaceLeft < thirdPointX &&
        thirdPointX < this.frontFaceCenterX
      ) {
        return this.computeLeftInDepthFacesPoints();
      }
      if (
        this.frontFaceCenterX < thirdPointX &&
        thirdPointX < this.frontFaceRight
      ) {
        return this.computeRightInDepthFacesPoints();
      }
      return this.computeRightOutDepthFacesPoints();
    },
  },
  methods: {
    handleClick(e) {
      const nativeEvent = e.evt;
      nativeEvent.preventDefault();
      const { clientX: x, clientY: y } = nativeEvent;
      this.clickCoords.push({ x, y });
    },
    reset(e) {
      e.preventDefault();
      this.clickCoords = [];
    },
    computeLeftOutDepthFacesPoints() {
      if (this.clickCoords[2].y < this.frontFaceTop) {
        return {
          vertical: [
            this.clickCoords[2].x,
            this.clickCoords[2].y,
            this.clickCoords[2].x + this.frontFaceWidth,
            this.clickCoords[2].y,
            this.frontFaceRight,
            this.frontFaceTop,
            this.frontFaceLeft,
            this.frontFaceTop,
          ],
          horizontal: [
            this.clickCoords[2].x,
            this.clickCoords[2].y,
            this.frontFaceLeft,
            this.frontFaceTop,
            this.frontFaceLeft,
            this.frontFaceBottom,
            this.clickCoords[2].x,
            this.clickCoords[2].y + this.frontFaceHeight,
          ],
        };
      }
      if (
        this.frontFaceTop < this.clickCoords[2].y &&
        this.clickCoords[2].y < this.frontFaceCenterY
      ) {
        return {
          vertical: [
            this.frontFaceLeft,
            this.frontFaceBottom,
            this.frontFaceRight,
            this.frontFaceBottom,
            this.clickCoords[2].x + this.frontFaceWidth,
            this.clickCoords[2].y + this.frontFaceHeight,
            this.clickCoords[2].x,
            this.clickCoords[2].y + this.frontFaceHeight,
          ],
          horizontal: [
            this.clickCoords[2].x,
            this.clickCoords[2].y,
            this.frontFaceLeft,
            this.frontFaceTop,
            this.frontFaceLeft,
            this.frontFaceBottom,
            this.clickCoords[2].x,
            this.clickCoords[2].y + this.frontFaceHeight,
          ],
        };
      }
      if (
        this.frontFaceCenterY < this.clickCoords[2].y &&
        this.clickCoords[2].y < this.frontFaceBottom
      ) {
        return {
          vertical: [
            this.clickCoords[2].x,
            this.clickCoords[2].y - this.frontFaceHeight,
            this.clickCoords[2].x + this.frontFaceWidth,
            this.clickCoords[2].y - this.frontFaceHeight,
            this.frontFaceRight,
            this.frontFaceTop,
            this.frontFaceLeft,
            this.frontFaceTop,
          ],
          horizontal: [
            this.clickCoords[2].x,
            this.clickCoords[2].y - this.frontFaceHeight,
            this.frontFaceLeft,
            this.frontFaceTop,
            this.frontFaceLeft,
            this.frontFaceBottom,
            this.clickCoords[2].x,
            this.clickCoords[2].y,
          ],
        };
      }
      return {
        vertical: [
          this.frontFaceLeft,
          this.frontFaceBottom,
          this.frontFaceRight,
          this.frontFaceBottom,
          this.clickCoords[2].x + this.frontFaceWidth,
          this.clickCoords[2].y,
          this.clickCoords[2].x,
          this.clickCoords[2].y,
        ],
        horizontal: [
          this.clickCoords[2].x,
          this.clickCoords[2].y - this.frontFaceHeight,
          this.frontFaceLeft,
          this.frontFaceTop,
          this.frontFaceLeft,
          this.frontFaceBottom,
          this.clickCoords[2].x,
          this.clickCoords[2].y,
        ],
      };
    },
    computeLeftInDepthFacesPoints() {
      if (this.clickCoords[2].y < this.frontFaceTop) {
        return {
          vertical: [
            this.clickCoords[2].x,
            this.clickCoords[2].y,
            this.clickCoords[2].x + this.frontFaceWidth,
            this.clickCoords[2].y,
            this.frontFaceRight,
            this.frontFaceTop,
            this.frontFaceLeft,
            this.frontFaceTop,
          ],
          horizontal: [
            this.frontFaceRight,
            this.frontFaceTop,
            this.clickCoords[2].x + this.frontFaceWidth,
            this.clickCoords[2].y,
            this.clickCoords[2].x + this.frontFaceWidth,
            this.clickCoords[2].y + this.frontFaceHeight,
            this.frontFaceRight,
            this.frontFaceBottom,
          ],
        };
      }
      if (
        this.frontFaceTop < this.clickCoords[2].y &&
        this.clickCoords[2].y < this.frontFaceCenterY
      ) {
        return {
          vertical: [
            this.frontFaceLeft,
            this.frontFaceBottom,
            this.frontFaceRight,
            this.frontFaceBottom,
            this.clickCoords[2].x + this.frontFaceWidth,
            this.clickCoords[2].y + this.frontFaceHeight,
            this.clickCoords[2].x,
            this.clickCoords[2].y + this.frontFaceHeight,
          ],
          horizontal: [
            this.frontFaceRight,
            this.frontFaceTop,
            this.clickCoords[2].x + this.frontFaceWidth,
            this.clickCoords[2].y,
            this.clickCoords[2].x + this.frontFaceWidth,
            this.clickCoords[2].y + this.frontFaceHeight,
            this.frontFaceRight,
            this.frontFaceBottom,
          ],
        };
      }
      if (
        this.frontFaceCenterY < this.clickCoords[2].y &&
        this.clickCoords[2].y < this.frontFaceBottom
      ) {
        return {
          vertical: [
            this.clickCoords[2].x,
            this.clickCoords[2].y - this.frontFaceHeight,
            this.clickCoords[2].x + this.frontFaceWidth,
            this.clickCoords[2].y - this.frontFaceHeight,
            this.frontFaceRight,
            this.frontFaceTop,
            this.frontFaceLeft,
            this.frontFaceTop,
          ],
          horizontal: [
            this.frontFaceRight,
            this.frontFaceTop,
            this.clickCoords[2].x + this.frontFaceWidth,
            this.clickCoords[2].y - this.frontFaceHeight,
            this.clickCoords[2].x + this.frontFaceWidth,
            this.clickCoords[2].y,
            this.frontFaceRight,
            this.frontFaceBottom,
          ],
        };
      }
      return {
        vertical: [
          this.frontFaceLeft,
          this.frontFaceBottom,
          this.frontFaceRight,
          this.frontFaceBottom,
          this.clickCoords[2].x + this.frontFaceWidth,
          this.clickCoords[2].y,
          this.clickCoords[2].x,
          this.clickCoords[2].y,
        ],
        horizontal: [
          this.frontFaceRight,
          this.frontFaceTop,
          this.clickCoords[2].x + this.frontFaceWidth,
          this.clickCoords[2].y - this.frontFaceHeight,
          this.clickCoords[2].x + this.frontFaceWidth,
          this.clickCoords[2].y,
          this.frontFaceRight,
          this.frontFaceBottom,
        ],
      };
    },
    computeRightInDepthFacesPoints() {
      if (this.clickCoords[2].y < this.frontFaceTop) {
        return {
          vertical: [
            this.clickCoords[2].x - this.frontFaceWidth,
            this.clickCoords[2].y,
            this.clickCoords[2].x,
            this.clickCoords[2].y,
            this.frontFaceRight,
            this.frontFaceTop,
            this.frontFaceLeft,
            this.frontFaceTop,
          ],
          horizontal: [
            this.clickCoords[2].x - this.frontFaceWidth,
            this.clickCoords[2].y,
            this.frontFaceLeft,
            this.frontFaceTop,
            this.frontFaceLeft,
            this.frontFaceBottom,
            this.clickCoords[2].x - this.frontFaceWidth,
            this.clickCoords[2].y + this.frontFaceHeight,
          ],
        };
      }
      if (
        this.frontFaceTop < this.clickCoords[2].y &&
        this.clickCoords[2].y < this.frontFaceCenterY
      ) {
        return {
          vertical: [
            this.frontFaceLeft,
            this.frontFaceBottom,
            this.frontFaceRight,
            this.frontFaceBottom,
            this.clickCoords[2].x,
            this.clickCoords[2].y + this.frontFaceHeight,
            this.clickCoords[2].x - this.frontFaceWidth,
            this.clickCoords[2].y + this.frontFaceHeight,
          ],
          horizontal: [
            this.clickCoords[2].x - this.frontFaceWidth,
            this.clickCoords[2].y,
            this.frontFaceLeft,
            this.frontFaceTop,
            this.frontFaceLeft,
            this.frontFaceBottom,
            this.clickCoords[2].x - this.frontFaceWidth,
            this.clickCoords[2].y + this.frontFaceHeight,
          ],
        };
      }
      if (
        this.frontFaceCenterY < this.clickCoords[2].y &&
        this.clickCoords[2].y < this.frontFaceBottom
      ) {
        return {
          vertical: [
            this.clickCoords[2].x - this.frontFaceWidth,
            this.clickCoords[2].y - this.frontFaceHeight,
            this.clickCoords[2].x,
            this.clickCoords[2].y - this.frontFaceHeight,
            this.frontFaceRight,
            this.frontFaceTop,
            this.frontFaceLeft,
            this.frontFaceTop,
          ],
          horizontal: [
            this.clickCoords[2].x - this.frontFaceWidth,
            this.clickCoords[2].y - this.frontFaceHeight,
            this.frontFaceLeft,
            this.frontFaceTop,
            this.frontFaceLeft,
            this.frontFaceBottom,
            this.clickCoords[2].x - this.frontFaceWidth,
            this.clickCoords[2].y,
          ],
        };
      }
      return {
        vertical: [
          this.frontFaceLeft,
          this.frontFaceBottom,
          this.frontFaceRight,
          this.frontFaceBottom,
          this.clickCoords[2].x,
          this.clickCoords[2].y,
          this.clickCoords[2].x - this.frontFaceWidth,
          this.clickCoords[2].y,
        ],
        horizontal: [
          this.clickCoords[2].x - this.frontFaceWidth,
          this.clickCoords[2].y - this.frontFaceHeight,
          this.frontFaceLeft,
          this.frontFaceTop,
          this.frontFaceLeft,
          this.frontFaceBottom,
          this.clickCoords[2].x - this.frontFaceWidth,
          this.clickCoords[2].y,
        ],
      };
    },
    computeRightOutDepthFacesPoints() {
      if (this.clickCoords[2].y < this.frontFaceTop) {
        return {
          vertical: [
            this.clickCoords[2].x - this.frontFaceWidth,
            this.clickCoords[2].y,
            this.clickCoords[2].x,
            this.clickCoords[2].y,
            this.frontFaceRight,
            this.frontFaceTop,
            this.frontFaceLeft,
            this.frontFaceTop,
          ],
          horizontal: [
            this.frontFaceRight,
            this.frontFaceTop,
            this.clickCoords[2].x,
            this.clickCoords[2].y,
            this.clickCoords[2].x,
            this.clickCoords[2].y + this.frontFaceHeight,
            this.frontFaceRight,
            this.frontFaceBottom,
          ],
        };
      }
      if (
        this.frontFaceTop < this.clickCoords[2].y &&
        this.clickCoords[2].y < this.frontFaceCenterY
      ) {
        return {
          vertical: [
            this.frontFaceLeft,
            this.frontFaceBottom,
            this.frontFaceRight,
            this.frontFaceBottom,
            this.clickCoords[2].x,
            this.clickCoords[2].y + this.frontFaceHeight,
            this.clickCoords[2].x - this.frontFaceWidth,
            this.clickCoords[2].y + this.frontFaceHeight,
          ],
          horizontal: [
            this.frontFaceRight,
            this.frontFaceTop,
            this.clickCoords[2].x,
            this.clickCoords[2].y,
            this.clickCoords[2].x,
            this.clickCoords[2].y + this.frontFaceHeight,
            this.frontFaceRight,
            this.frontFaceBottom,
          ],
        };
      }
      if (
        this.frontFaceCenterY < this.clickCoords[2].y &&
        this.clickCoords[2].y < this.frontFaceBottom
      ) {
        return {
          vertical: [
            this.clickCoords[2].x - this.frontFaceWidth,
            this.clickCoords[2].y - this.frontFaceHeight,
            this.clickCoords[2].x,
            this.clickCoords[2].y - this.frontFaceHeight,
            this.frontFaceRight,
            this.frontFaceTop,
            this.frontFaceLeft,
            this.frontFaceTop,
          ],
          horizontal: [
            this.frontFaceRight,
            this.frontFaceTop,
            this.clickCoords[2].x,
            this.clickCoords[2].y - this.frontFaceHeight,
            this.clickCoords[2].x,
            this.clickCoords[2].y,
            this.frontFaceRight,
            this.frontFaceBottom,
          ],
        };
      }
      return {
        vertical: [
          this.frontFaceLeft,
          this.frontFaceBottom,
          this.frontFaceRight,
          this.frontFaceBottom,
          this.clickCoords[2].x,
          this.clickCoords[2].y,
          this.clickCoords[2].x - this.frontFaceWidth,
          this.clickCoords[2].y,
        ],
        horizontal: [
          this.frontFaceRight,
          this.frontFaceTop,
          this.clickCoords[2].x,
          this.clickCoords[2].y - this.frontFaceHeight,
          this.clickCoords[2].x,
          this.clickCoords[2].y,
          this.frontFaceRight,
          this.frontFaceBottom,
        ],
      };
    },
  },
};
</script>

<style scoped>
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.draw-area {
  display: inline-block;
  width: 30rem;
  height: 30rem;
  border: 4px dotted gray;
  border-radius: 10px;
}
</style>
