<template>
  <CubeDrawer />
</template>

<script>
import CubeDrawer from './components/CubeDrawer.vue'

export default {
  name: 'App',
  components: {
    CubeDrawer
  }
}
</script>

<style>
</style>
